body{
  margin: 0px;
  background-color: #fcecdd;
  text-align: center;
  font-family: 'Merriweather',serif;
}
h1{
  font-family: 'Sacramento', cursive;
  color: #126e82;
  margin: 0px;
  font-size: 7rem;

}
h2{color: #126e82;
  font-size: 3rem;

}
h3{

  color: #126e82;
    font-size: 4rem;

}
h4{
  color: #126e82;
    font-size: 2.5rem;

margin: 0px;
padding: 0px;

}

p{
  font-family: monospace;
font-size: 2em;
color: #687980;
}

.top{
background-color: #94d0cc;
  height:800px;
  width: auto;

}
hr{
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: dotted;
  border-top: none;
  border-color: #e1e5ea;
  width: 50px;
  border-width: 10px;
}
.moontain-img{
height: 430px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;


}
.mohit-img{
  border-radius: 30%;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.about{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.growth{
  width: 25%;
float: left;
margin-right: 30px;
}
.about-2{
  width: 85%;
  font-size: 1.5em;
  margin: 0px;

}
.middle-2{
width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;

}

.food{
  width: 25%;
float: left;
margin-right: 30px;


}
.middle-3{
width: 50%;
margin: 100px auto;
text-align: left;
line-height: 2;
}
.btn {
   background: rgba(55, 103, 116, 0.44);
   background-image: -webkit-linear-gradient(top, rgba(55, 103, 116, 0.44), #025955);
   background-image: -moz-linear-gradient(top, rgba(55, 103, 116, 0.44), #025955);
   background-image: -ms-linear-gradient(top, rgba(55, 103, 116, 0.44), #025955);
   background-image: -o-linear-gradient(top, rgba(55, 103, 116, 0.44), #025955);
   background-image: -webkit-gradient(to bottom, rgba(55, 103, 116, 0.44), #025955);
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
   color: #51C4D3;
   font-family: Arial;
   font-size: 65px;
   font-weight: 100;
   padding: 33px;
   -webkit-box-shadow: 0 1px 20px 0 #FFFFFF;
   -moz-box-shadow: 0 1px 20px 0 #FFFFFF;
   box-shadow: 0 1px 20px 0 #FFFFFF;
   text-shadow: 5px 0 12px #FFFFFF;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #33A0ED 1px;
   background: #A6D6D6;
   background-image: -webkit-linear-gradient(top, #A6D6D6, #31FAFC);
   background-image: -moz-linear-gradient(top, #A6D6D6, #31FAFC);
   background-image: -ms-linear-gradient(top, #A6D6D6, #31FAFC);
   background-image: -o-linear-gradient(top, #A6D6D6, #31FAFC);
   background-image: -webkit-gradient(to bottom, #A6D6D6, #31FAFC);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.lower{

  height: 250px;
  width: auto;
  background-color: #94d0cc;
  margin-top: 100px;
}
.asd{
  margin-left: auto;
  margin-right: auto;
}
.as{
  background-color: #94d0cc;
  height: auto;
  width: 50%;
  position: absolute;
  left: 300px;
}
